name: Generate GitHub Snake

on:
  schedule:
    - cron: "0 0 * * *"   # har din raat ko update
  workflow_dispatch:       # manually bhi run kar sakta hai

jobs:
  generate:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Generate GitHub Contributions Snake
        uses: Platane/snk@v3
        with:
          github_user_name: ${{ github.repository_owner }}   # auto tera username lega
          outputs: |
            dist/github-snake.svg
            dist/github-snake-dark.svg?palette=github-dark

      - name: Push snake animation to output branch
        uses: crazy-max/ghaction-github-pages@v4
        with:
          target_branch: output
          build_dir: dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
